<%= form_for @user do |f| %>
  <p>Email: <%= f.text_field :email, placeholder: 'youremail@example.com' %></p>
  <p>Password: <%= f.text_field :password, placeholder: 'password' %></p>
  <p>First Name: <%= f.text_field :first_name, placeholder: 'John' %></p>
  <p>Last Name: <%= f.text_field :last_name, placeholder: 'Smith' %></p>
  <p>Phone: <%= f.text_field :phone, placeholder: '123-456-8888' %></p>
  <p><%= f.submit 'sign-up' %></p>
<% end %>